# CityBikes

Send a request to CityBikes for the city of your choice.

In [1]:
import pandas as pd

In [2]:
import requests

#get data for certain network_id
network_id = 'dublinbikes'
network_json = requests.get("http://api.citybik.es/v2/networks/dublinbikes").json()
#network_json

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [7]:
# city_bikes_df = pd.DataFrame(stations, columns = ['name', 'longitude', 'latitude', 'free_bikes'])
# city_bikes_df

In [8]:
station_name = []
latitude = []
longitude = []
num_bikes = []
for station in network_json['network']['stations']:
    station_name.append( station['name'] )
    latitude.append(station['latitude'] )
    longitude.append(station['longitude'] )
    num_bikes.append(station['free_bikes'] )

Put your parsed results into a DataFrame.

In [9]:
import pandas as pd

In [10]:
data_city_bikes = pd.DataFrame({'name':station_name,'latitude':latitude,'longitude':longitude,'num_bikes':num_bikes})
data_city_bikes.head()

                                name   latitude  longitude  num_bikes
0                       GEORGES LANE  53.350230  -6.279696          2
1  NORTH CIRCULAR ROAD (O'CONNELL'S)  53.357841  -6.251557          8
2                  PHIBSBOROUGH ROAD  53.356307  -6.273717          6
3                   SMITHFIELD NORTH  53.349562  -6.278198         12
4                     CLONMEL STREET  53.336021  -6.262980         14

In [11]:
data_city_bikes.to_csv('data_city_bikes.csv')